html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #000050;
}
hr {
height:1px; border:none; color:#000; background-color:#000;
}
#responsiv {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	max-width: 1000px;
}
#responsiv > table {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
#responsiv > table td {
	margin: 0;
	padding: 8px;
	vertical-align: top;
	/*border: 1px solid black;*/
}
#head {
	position: relative;
}
#logo {
	display: block;
	text-align: center;
}
#logo > a {
    display: inline-block;
	text-decoration: none;
}
#logo > a > img {
	max-width: 200px;
	vertical-align: top;
}
#lozung {
	display: block;
	margin-bottom: 8px;
	white-space: nowrap;
    text-align: right;
}
#networks {
	display: block;
    text-align: right;
    float: right;
}
#networks > a {
	display: inline-block;
	margin: 5px;
	padding: 0;
	text-align: center;
	text-decoration: none;
}
#networks > a > img {
	vertical-align: top;
	max-width: 40px;
	border-radius: 10px;
}
tfoot, thead {
	height: 1%;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}












