version: '2'

services:
  web:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./:/code
      - ./docker/site.conf:/etc/nginx/conf.d/default.conf
    networks:
      - code-network
  php:
    build: 
      dockerfile: Dockerfile
      context: ./docker
    volumes:
      - ./:/code
    networks:
      - code-network

networks:
  code-network:
    driver: bridge
